@model MSUFRIBCodeTest.Models.Message

@{
    ViewData["Title"] = "Create";
}
<h4>Enter a Message to Leave Behind</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea asp-for="MessageBody" rows="5" cols="40" class="form-control" placeholder="Enter a meesage here"></textarea>
                <span asp-validation-for="MessageBody" class="text-danger" ></span>
            </div>
            <div class="form-group" style="text-align: center !important">
                <br />
                <input type="submit" value="Send message" class="btn btn-primary msu-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
