@model MSUFRIBCodeTest.Models.Message

@{
    ViewData["Title"] = "Details";
}
<div>
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayName("Message"):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.MessageBody)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayName("Sent"):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="msu-link">Edit</a> |
    <a asp-action="Index" class="msu-link">Back to List</a>
</div>
