@model IEnumerable<MSUFRIBCodeTest.Models.Message>

@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model) {
    <a asp-action="Details" asp-route-id="@item.Id" class="msu-link">
        <div class="div-message">
            @Html.DisplayFor(modelItem => item.MessageBody)
        </div>
        <div class="div-sent"> Sent:  @Html.DisplayFor(modelItem => item.SentDate)</div>
    </a>
}
