@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
   @*  <h1 class="display-4">Code Test Home!</h1> *@
</div>
<div >
    <p>
     Experienced in creating azure CI/CD pipelines for build and deployment.
    </p>
    <p>
       Experienced in building and deploying Ethereum-based smart contracts using frameworks Truffle.
    </p>
    <p>
        Experienced in developing decentralized applications (dApps) using blockchain technologies such as Ethereum.
    </p>
    <p>
        Researched and analyzed an in-vehicle infotainment sync software at i2Integration that was developed in C++, simulated HMI for application analysis. 
    </p>
    <p>
        Worked on multiple components for different course element applications and details using Vue.js and Vuex.
    </p>
</div>
